.wrapper {
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
  }
  
  .slider {
    height: 5px;
    border-radius: 5px;
    background-color: #ddd;
    position: relative;
  }
  
  .slider .progress {
    height: 5px;
    border-radius: 5px;
    background-color: #17a2b8;
    position: absolute;
    left: 0%;
    right: 0%;
  }
  
  .range-input {
    position: relative;
  }
  
  .range-input input {
    position: absolute;
    top: -7px;
    height: 5px;
    width: 100%;
    background: none;
    appearance: none;
    pointer-events: none;
    left: 0;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    appearance: none;
    background: #17a2b8;
  }
  