.disable-zoom {
  position: absolute;
  top: 0;
  left: 0;
  height: 320px;
  width: 100%;
  z-index: 10000000;
  color: transparent;
}

.bottom-nav-add-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.app-wrapper div:empty {
  display: inherit !important;
}

.reactEasyCrop_Container img {
  max-width: none;
}

.filepond--root {
  font-family: inherit;
  font-weight: 400;
}

.pintura-editor {
  --color-primary: #a58279;
  --color-primary-dark: #96756c;
  --color-primary-text: #fff;
}


.collage-container:after {
  display: none !important;
}
