.disable-zoom {
  position: absolute;
  top: 0;
  left: 0;
  height: 320px;
  width: 100%;
  z-index: 10000000;
  color: transparent;
}

.bottom-nav-add-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
