@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {
  font-family: 'Optima nova LT Pro';
  src: url('./assets/fonts/Optima-nova/OptimaNovaLTPro-Regular.eot');
  src: url('./assets/fonts/Optima-nova/OptimaNovaLTPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Optima-nova/OptimaNovaLTPro-Regular.woff2') format('woff2'),
  url('./assets/fonts/Optima-nova/OptimaNovaLTPro-Regular.woff') format('woff'),
  url('./assets/fonts/Optima-nova/OptimaNovaLTPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}*/

:root {
  --shopify-header-height: 66px;
  --shopify-announcement-height: 0px;
}

/*********/
/* HACKS */
/*********/
/* Hack to make the editor section take up the full height of the page */
#MainContent > section,
#MainContent > section > div,
#MainContent > section > div > div {
  height: 100%;
}

#root {
  /*height: 100%;*/
  height: calc(
    var(--app-height) - var(--header-height) -
      var(--shopify-announcement-height)
  );
  letter-spacing: normal;
}

.app-wrapper {
  height: 100%;
  overflow: auto;
  max-width: 600px;
  margin: 0 auto;
}

.app-wrapper.with-navigation {
  height: calc(100% - 67px);
}

/* Hack to remove preview bar on Shopify preview */
#preview-bar-iframe {
  display: none;
}

/**********/
/* STYLES */
/**********/
@layer components {
  #progress-bar {
    @apply hidden w-0 h-2 bg-muld-500 fixed z-50;
    transition: width 200ms ease-out, opacity 100ms 100ms ease-in;
    transform: translate3d(0, 0, 0);
  }

  .text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .text-xxs {
    font-size: 0.5rem;
  }

  .min-h-28 {
    min-height: 7rem;
  }

  input[type="range"]::-webkit-slider-thumb {
    touch-action: none;
    -webkit-appearance: none !important;
    background: #a5837a;
    border-radius: 30px;
    height: 30px;
    width: 30px;
  }
}

/* Normalize */
body {
  overflow: hidden;
  /*
  font-family: 'Optima nova LT Pro', sans-serif;
  */
  background-color: #fafafa !important;
}

/* Page height modifications */
.photo-editor-page {
  overflow: auto;
  height: calc(
    var(--app-height) - var(--shopify-header-height) -
      var(--shopify-announcement-height) - 50px
  );
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
  border-radius: 4px;
}

* ::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

* ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
}

#gtx-trans {
  display: none;
}
