@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --typeBaseSize: 16px !important;
  --shopify-header-height: 68px;
  --shopify-announcement-height: 0px;
}

@media (max-width: 768px) {
  :root {
    --shopify-header-height: 56px;
  }
}

html {
  font-size: 10px !important;
}

/*********/
/* HACKS */
/*********/
/* Hack to make the editor section take up the full height of the page */
#MainContent > section,
#MainContent > section > div,
#MainContent > section > div > div {
  //height: 100%;
}

#root {
  /*height: calc(
    var(--app-height) - var(--shopify-header-height) -
      var(--shopify-announcement-height)
  );*/
  letter-spacing: normal;
}

.app-wrapper {
  height: 100%;
  overflow: auto;
  margin: 0 auto;
}

.app-wrapper.with-navigation {
  height: calc(100% - 110px);
}

@media (min-width: 769px) {
  .app-wrapper {
    max-width: 1200px;
  }
}

/* Hack to remove preview bar on Shopify preview */
#preview-bar-iframe {
  display: none;
}

/**********/
/* STYLES */
/**********/
@layer components {
  #progress-bar {
    @apply hidden;
    transition: width 200ms ease-out, opacity 100ms 100ms ease-in;
    transform: translate3d(0, 0, 0);
  }

  #globalprogress {
    @apply hidden;
  }

  .text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .text-xxs {
    font-size: 0.5rem;
  }

  .min-h-28 {
    min-height: 7rem;
  }

  input[type="range"]::-webkit-slider-thumb {
    touch-action: none;
    -webkit-appearance: none !important;
    background: #a5837a;
    border-radius: 30px;
    height: 30px;
    width: 30px;
  }
}

/* Normalize */
body {
  background-color: #fafafa !important;
}

.app-wrapper .label-info, .app-wrapper label {
  margin-bottom: 0;
}

/* Page height modifications */
.photo-editor-page {
  overflow: auto;
  height: calc(
    var(--app-height) - var(--shopify-header-height) -
      var(--shopify-announcement-height) - 50px
  );
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
  border-radius: 4px;
}

* ::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

* ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
}

#gtx-trans {
  display: none;
}

.audio-crop {
  position: relative;
}

.audio-crop .slider .progress {
  height: 100%;
  border-radius: 0;
  position: absolute;
  left: 0;
  right: 0;
  border-left: 2px solid #66544f;
}

.audio-crop .range-input {
  position: relative;
}

.audio-crop .range-input input {
  position: absolute;
  top: -7px;
  height: 5px;
  width: 100%;
  background: none;
  appearance: none;
  pointer-events: none;
}

.audio-crop .wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: transparent;
  position: absolute;
  /*z-index: 1;*/
}

.audio-crop .range-input input {
  background-color: transparent !important;
  height: 100%;
  top: 0;
}

.audio-crop .slider {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.audio-crop .range-min {
  left: 0;
}

.audio-crop .range-max {
  right: 0;
}

.audio-crop input[type="range" i]::-webkit-slider-runnable-track {
  align-self: flex-start;
}

.audio-crop .wrapper [type="range"]::-webkit-slider-thumb {
  background-image: url("./assets/images/range-dots.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #a48179;
  height: 84px;
  width: 13px;
  border-radius: 3px;
  pointer-events: auto;
  appearance: none;
}

@media (hover: none) {
  .audio-crop .wrapper [type="range"]::-webkit-slider-thumb {
    width: 20px;
  }
}

/* For Firefox */
.audio-crop input[type="range" i]::-moz-range-track {
  align-self: flex-start;
}

.audio-crop .wrapper [type="range"]::-moz-range-thumb {
  background-image: url("./assets/images/range-dots.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #a48179;
  height: 84px;
  width: 13px;
  border-radius: 3px;
  pointer-events: auto;
  appearance: none;
}

/* For Internet Explorer/Edge */
.audio-crop input[type="range" i]::-ms-track {
  align-self: flex-start;
  background: transparent; /* Remove default background */
  border-color: transparent;
  color: transparent;
  height: 84px;
}

.audio-crop .wrapper [type="range"]::-ms-thumb {
  background: #a48179 url("./assets/images/range-dots.png") no-repeat center
    center;
  height: 84px;
  width: 13px;
  border-radius: 3px;
  pointer-events: auto;
  appearance: none;
}

.slider-example-split-line {
  --default-handle-opacity: 0;
}

.image-compare {
  position: relative;
  height: 100%;
  width: 100%;
}

.image-compare .before,
.image-compare .after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.image-compare .before-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  display: block;
  z-index: 1;
  overflow: hidden;
}

.after-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: none;
}

.pointer-events-none {
  pointer-events: none;
}

.opacity-2 {
  opacity: 0.2;
}

.position-relative {
  position: relative;
}

.coming-soon {
  top: 30%;
  position: absolute;
}

/* Input Range */
input[type="range"]::range-track {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  background-color: #eee;
  border: 2px solid #ccc;
}

input[type="range"]::range-thumb {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  border: 2px solid #1976d2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

input[type="range"]::range-progress {
  height: 20px;
  border-radius: 10px 0 0 10px;
  background-color: #2196f3;
  border: 2px solid #1976d2;
}

.app-wrapper input[type=range]::-webkit-slider-runnable-track {
  height: auto;
  background: transparent;
}

.app-wrapper input[type=range]::-webkit-slider-thumb {
  margin-top: 0;
}

.app-wrapper input[type=range] {
  max-width: 240px;
  margin: 0;
  border: 0;
}

/* Template override */
#shopify-section-footer, .announcement-bar-section {
  display: none;
}

#HeaderWrapper.header-wrapper--sticky {
  position: relative;
}

#SiteHeader {
  padding: 0;
}

@media screen and (max-width: 1024px) {
  #MainContent .page-width {
    padding: 0 12px;
  }
}

/* Cropper styles */
.cropper-crop-box:before {
  display: none;
}

@media screen and (max-width: 390px) and (max-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .collage-item {
    /* Your styles here */
    height: 100% !important;
    position: relative !important;
  }
}

.hide-label .upload-photo-label {
  display: none;
}
